<div class="container">
  <div class="control-buttons">
    <button (click)="scaleUp()">+</button>
    <button (click)="scaleDown()">-</button>
  </div>
  <div class="node-container" (scroll)="drawLines()">
    <ng-container *ngFor="let f of graphDtoList; let fi = index">
      <div *ngFor="let n of f.nodes; let ni = index"
           id="node-{{fi}}-{{ni}}"
           class="node {{n['type']}}"
           cdkDrag
           [cdkDragConstrainPosition]="computeDragGrid"
           (cdkDragMoved)="drawLines()"
           [ngStyle]="{'width': width() + 'px', 'height': height() + 'px'}">
        <pre>{{n['text']}}</pre>
      </div>
    </ng-container>
  </div>
</div>
