@import "../custom-theme";

:host {
  .container {
    width: 100vw;
    height: 100vh;
    background: map-get($ctog-primary, 500) url('/assets/img/background.png');
    background-size: cover;
  }
}
