@import "../../../custom-theme";

:host {
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      background: white;
      border-radius: 20px;
      padding: 2em;

      button {
        width: 100%;
      }

      span.error-message {
        padding-bottom: 0.5em;
        color: #ed4337;
      }

      h2 {
        font-size: 1.8rem;
        margin-bottom: 0.3em;
      }

      label {
        font-weight: 500;
        margin-bottom: 0.2em;
      }

      button {
        margin-top: 1em;
      }
    }
  }
}
