<div class="login-container">
  <div class="login-form">
    <h2>Sign in to Flowify</h2>
    <span *ngIf="isError" class="error-message">{{errorMessage}}</span>
    <form (ngSubmit)="onSignIn()">
      <label for="username-input">Username</label>
      <input id="username-input" type="text" class="text-input" [(ngModel)]="username" name="username">
      <label for="password-input">Password</label>
      <input id="password-input" type="password" class="text-input" [(ngModel)]="password" name="password">
      <button class="primary">Sign In</button>
    </form>
  </div>
</div>
