@import '~highlight.js/styles/vs.css';
@import "custom-theme";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.text-input {
  width: 100%;
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
  font-size: 1rem;
  padding: 8px 16px;
  outline: none;
  border-radius: 8px;
  transition: box-shadow 0.1s ease-in-out;
  margin-bottom: 1em;

  &:hover {
    background: white;
    box-shadow: 0 0 0 6px #f6f6f6;
  }

  &:focus {
    background: white;
    box-shadow: 0 0 0 5px map-get($ctog-primary, 100);
    border: 1px solid map-get($ctog-primary, 300);
  }
}

button.primary {
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  background: map-get($ctog-primary, 500);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: map-get($ctog-primary, 400);
  }
}

button.outlined {
  border: 1px solid map-get($ctog-primary, 500);
  background: transparent;
  color: map-get($ctog-primary, 500);
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: rgba(map-get($ctog-primary, 100), 0.1);
  }
}
